body .container {
  display: block;
  border: 2px solid rgb(212, 214, 219);
  box-shadow: 1px 1px 2px 2px rgb(238, 239, 241);
  margin: 150px auto;
  max-width: 600px;
  border-radius: 5px;
  padding: 60px;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}

span {
  background-color: rgb(238, 239, 241);
}

.city h1 {
  font-size: 40px;
  padding: 20px 0px 0px 0px;
  margin: 0;
  color: rgb(90, 98, 117);
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.temperature h2 {
  font-size: 50px;
  padding: 40px 0px 0px 0px;
  color: rgb(90, 98, 117);
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.description {
  font-size: 12px;
  padding: 0px 0px 20px 0px;
  margin: 0;
  color: rgb(156, 161, 172);
  font-weight: 500;
  font-family: sans-serif;
}

.sonditions-style {
  margin-top: 20px;
}

.row .col-2 {
  color: rgb(90, 98, 117);
  font-size: 23px;
  font-weight: 650;
  background-color: rgb(247, 249, 252);
  border-radius: 10px;
  padding: 17px 17px;
}

.fri {
  font-size: 12px;
  font-weight: 650;
}

.sat {
  font-size: 12px;
  font-weight: 650;
}

.sun {
  font-size: 12px;
  font-weight: 650;
}

.mon {
  font-size: 12px;
  font-weight: 650;
}

.tue {
  font-size: 12px;
  font-weight: 650;
}

.wed {
  font-size: 12px;
  font-weight: 650;
}

.author {
  position: relative;
  top: 83px;
  left: -60px;
  font-weight: 600;
}

.author-link {
  text-decoration: none;
}
